{% extends 'base.html.twig' %}

{% block title %}Wearit | Dashboard - {{ app.user.lastname }}{% endblock %}

{% block content %}


<div >
    <h1>Hello {{ app.user.firstname }} !</h1>

    <div>
        <ul>
            <li><a href="{{ path('account_password') }}">Change Password</a></li>
            <li><a href="#">Adress</a></li>
            <li><a href="#">Panier</a></li>
        <ul>
    <div>
</div>
{% endblock %}
