{% extends 'base.html.twig' %}

{% block title %}Hello AccountPasswordController!{% endblock %}

{% block content %}

    <h1>Change password</h1>
    <hr>
    {% if notification is not null %}
        <div class="alert alert-info">{{ notification }}</div>
        <hr>
    {% endif %}
    
    {{ form(form) }}
    <hr>
{% endblock %}
